:root{
  --main-background-color: red;
  --main-text-color:black;
  --secundary-background-color:black;
  --secundary-text-color:white;
  --shadow-color:black;
}


body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin: 0;
}

header {display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  position: fixed;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  background: red;
}

h1{
  color: rgb(255, 217, 0);
  font-family:cursive;
}

nav{
  display: flex;
  gap: 50px; ;

}
a{
  text-decoration: none;
}

nav a{
  color: var(--main-text-color);
  transition: background 1s, color 3s;
}

nav a:hover{
  background: var(--secundary-background-color);
  color: var(--secundary-text-color);
}

.hero-container {
  display: flex;
  height: 100vh;
}

.column-one, .column-two{
  width: 50%;
}
.column-one{
  background-image:url("https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.column-two{
  background-color:rgb(255, 217, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}

h2{
  color: red;
  font-family: cursive;
}

.cards-container{
  display:flex;
  margin: 50px 0;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  border-radius: 5px;
  margin: 20px;
  box-shadow:0 4px 8px 0 black;
  transition: 0.3s;
  cursor: pointer;
}



.card:hover{
  box-shadow: 0 8px 16px 0 black;
}

.card-image{
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card-text{
  padding: 10px 20px;
}


.footer{
  background-color: blueviolet;
  color: white;
  text-align: center;
  padding: 15px 0;
}

@media (width < 600px){
  header{
    flex-flow: column;
    color: white
  }
  .column-one{
    display: none;}
  
  .column-two{
    width: 100%;
    background-image:url("https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  }
}